*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

nav{
    background: linear-gradient(to right, blue, green);
    width: 100%;
}
nav>ul{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

nav>ul li{
    list-style: none;
    padding: 1rem 1.8rem;
}
nav>ul li:hover a {
    
    color: black;
}
nav>ul li:hover{
    background: linear-gradient( pink,yellow);
}

nav li>a{
    text-decoration:dotted;
    --c: white;
    color: var(--c);
    font-weight: bold;
    font-size: 1.3rem;

}

h1{
    color: chocolate;
    text-align: center;
    margin: 1rem;
}

#form-section{
    border: solid transparent 2px;
}
#forms{
    border: solid rgb(0, 255, 115) 2px;
    width: 70%;
    margin: auto;
    background-color: aliceblue;
    padding: 1rem;
    padding-top: 1.5rem;
}
.form-span{
    display: block;
    width: 75%;
    height: 3rem;
    margin-left: 1rem;
}

.form-span input{
    width: 80%;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.form-span label{
    font-weight: bold;
}
.form-span #age{
    margin-left: 1.8rem;
}
.form-span #gender{
    margin-left: 0.4rem;
}
.form-span #address{
    margin-left: 0rem;
}
.form-span #aboutu{
    margin-left: 1rem;
}
.form-span select{
    width: 80%;
    font-size: 1.2rem;
}
.form-span textarea{
    width: 80%;
    font-size: 1rem;
    height: 5rem;
}
.form-span #aboutu{
    margin-top: 3rem;
}

#sub-res{
    font-size: 1.2rem;
    margin-top: 6.5rem;
    
}
.btn{
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.1rem;
    width: 5rem;
    color: white;
   

}
#res-btn{
    margin-left: 1rem;
    background-color: red;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 2px;
    border-radius: 8px;
}
#res-btn:hover{
    background-color: rgb(184, 92, 7);
    color: black;
    
}
#sub-btn{
    margin-left: 29.5rem;
    background-color: green;
    border: 2px solid blue;
    border-radius: 8px;
    
}
#sub-btn:hover{
    background-color: greenyellow;
    color: black;
}
.inputs{
    padding-left: 0.5rem;
    box-sizing: border-box;
}

@media only screen and (max-width: 442px) {
    html{
        font-size: 12px;
        overflow: hidden;
    }
    #sub-btn{
        margin-left: 15rem;
    }
    nav ul{
        padding-left: 0rem;

    }
    #aboutu{
        margin-top: 10rem;
    }
    #forms{
        width: 95%;
    }

}